
<%= stylesheet_link_tag 'application' %>

 <div id="vertical-space">
   <h1>Programming Chart</h1>

<table>
  <tr>
   <td> <%= link_to "View Pair Chart" ,:action => 'show'%> </td>
    <td></td>
    <td></td>

    <td> </td>
    <td id="small_text"><%=link_to "Add new programmer" , :action => 'add' %></td>
  </tr>

</table>



  </div>







